html {
  scroll-behavior: smooth;
  font-size: 65%;
  font-family: "Roboto", sans-serif;
}

body {
  padding: 1%;
  align-items: center;
  background-color: #eee;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

#header-home {
  background-image: url("../assets/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
}

#header-text {
  font-family: "Indie Flower";
  font-weight: bold;
  color: rgb(255, 100, 100);
  letter-spacing: 1px;
  line-height: 1.5;
  background-color: #000000aa;
  padding: 20;
  border-radius: 10px;
  font-size: 20px;
  margin: 20px;
  margin-bottom: 50px;
}

#header-text-main {
  align-self: flex-end;
  color: #fff;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 20;
  border-radius: 10px;
  font-size: 20px;
  font-family: Orbitron;
  font-weight: bold;
  animation: headerColor 30s linear 0s infinite alternate;
}

@keyframes headerColor {
  0% {
    color: #ff0000;
  }
  5% {
    color: #955251;
  }
  10% {
    color: #b565a7;
  }
  15% {
    color: #009b77;
  }
  20% {
    color: #dd4124;
  }
  25% {
    color: #d65076;
  }
  30% {
    color: #d65076;
  }
  35% {
    color: #45b8ac;
  }
  40% {
    color: #efc050;
  }
  45% {
    color: #5b5ea6;
  }
  50% {
    color: #9b2335;
  }
  55% {
    color: #dfcfbe;
  }
  60% {
    color: #55b4b0;
  }
  65% {
    color: #7fcdcd;
  }
  70% {
    color: #e15d44;
  }
  75% {
    color: #bc243c;
  }
  80% {
    color: #c3447a;
  }
  85% {
    color: #98b4d4;
  }
  90% {
    color: #ff6f61;
  }
  100% {
    color: #ff0000;
  }
}

#main-site {
  align-self: center;
  width: 98%;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #e2e8f0;
  z-index: 20;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.nav-btn {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
  transition: 0.5s;
}

.nav-link:hover {
  color: #482ff7;
  font-size: 1.8rem;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -150%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 20;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .nav-btn {
    display: block;
    cursor: pointer;
  }

  .nav-btn.active .bar:nth-child(2) {
    opacity: 0;
  }

  .nav-btn.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .nav-btn.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}

footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  box-shadow: 2px 2px 10px 2px #000;
}

#products {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  visibility: none;
  width: 100%;
}

.tiles {
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border: none;
  width: 400px;
  transition: 2s;
  background-color: #ffffff00;
}

@media only screen and (max-width: 800px) {
  .tiles {
    width: 100%;
  }
}

.tiles-container {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  flex-direction: column;
  object-fit: cover;
}

.img {
  border-radius: 5px;
  max-width: 90%;
  position: relative;
  transition: 0.5s;
  align-self: center;
  z-index: 0;
  object-fit: fill;
  box-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.tiles-container:hover .img {
  max-width: 95%;
  z-index: 1;
  box-shadow: 5px 5px 15px rgb(0, 0, 0);
}

.overText {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.9rem;
  align-self: center;
}

.over {
  z-index: 10;
  color: #fff;
  background-color: #00000077;
  padding: 20;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 80%;
}

.img:hover .over {
  color: #fff;
}

#main-site {
  display: block;
}

#showcase {
  display: block;
}
