#upload-outer {
  position: absolute;
  width: 94%;
  align-self: center;
  height: 94%;
  z-index: 15;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #00000055;
  border-radius: 10px;
}

#upload-close {
  font-size: large;
  align-self: flex-end;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin: 10px;
  margin-right: 3%;
  color: rgb(255, 0, 0);
  box-shadow: 1px 1px 5px 1px rgb(255, 0, 0);
  padding: 5px;
}

#multiline-details {
  box-shadow: 2px 2px 2px 2px gold;
  margin: 10px;
}

#upload-container {
  display: flex;
  background-color: #212121ee;
  padding: 10px;
  border-radius: 6px;
  flex-direction: column;
  border: 5px solid #000;
  box-shadow: inset 0.1em 0.1em gold;
  width: 330px;
  height: 500px;
  background-color: #111111ee;
  border: 5px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

@media only screen and (max-width: 1000px) {
  #upload-container {
    width: 800px;
  }
}

@media only screen and (max-width: 380px) {
  #upload-container {
    width: 330px;
    height: 500px;
  }
}

.upload-textField {
  height: 45px;
  border-radius: 3px;
  border: none;
  padding: 10px;
  align-self: center;
  margin: 10px;
}

#upload-product-description {
  height: 60px;
}

#upload-container-main {
  width: 100%;
  display: flex;

  flex-direction: column;
}

label {
  padding: 10px;
  background-image: url("../assets/images/upload.png");
  background-size: cover;
  display: table;
  color: #fff;
  border-radius: 50%;
  font-size: 1.5rem;
  width: 100px;
  height: 100px;
  display: flex;
  box-shadow: 2px 2px 10px 2px #1c8adb;
}
#upload-file[type="file"] {
  display: none;
}

#upload-data-input {
  flex-direction: column;
  box-shadow: 2px 0px 2px 2px gold;
}

#shadow-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 2px 2px gold;
}

#upload-button {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  align-self: flex-end;
  margin: 20px;
  margin-bottom: 30px;
  background-color: #212121;
  color: lightgreen;
  box-shadow: 0px 0px 10px 5px lightgreen;
}

#upload-buttons {
  margin-top: 30px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}
